<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>
<%= form_tag("/gacha/spin") do %>
  <%= hidden_field_tag :hidden_data, "1000" %>
  <input type="submit" value="１０００円">
<% end %>