/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 

:root {
  /*--main-gutter: 12px;*/
  /*--main-position: center;*/
  /*--main-lh: 1.5;*/
  --main-bg-color: #036635;
  
}


/* クラスやIDによって要素を指定し、背景画像を設定 */
/*.background-image {*/
/*    background-image: url('star.jpg');*/
    /* 画像の位置を中央に調整 */
/*    background-position: center;*/
    /* 背景画像のサイズをカバーするように調整 */
/*    background-size: cover;*/
    /* 背景画像を繰り返さない */
/*    background-repeat: no-repeat;*/
/*    height: 100vh;*/
/*}*/
body {
background-image: url('star.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
background-attachment: fixed;
}

.background-white {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 30px 10px;
}

.wf-nicomoji { font-family: "Nico Moji"; }


.my-div {
  width:100%;   /* タグの幅を調整 */
    /* タグの高さを調整 */
 /*background-color: #f0f0f0; /* 背景色を指定（任意） 
  /* 他のスタイルプロパティも追加できます */
}

.name-width {
  width: 50%;
}

.form-width{
  width: 40%;
}

@media screen and (min-width: 481px) {
.max-480 {
  display: none;
}

.my-div{
  flex-flow: column;
}
}

.menu {
  background-color: var(--main-bg-color);
  color: white;
  width: 75%;
  margin: 4px auto;
  position: relative;
  padding-left: 0;
}

.fav-position {
  position: absolute;
  left: 13px;
  top: calc(50% - 13px);
}

.menu-list {
  margin: 2px 20px;
}

.all-menu {
  margin: 0 auto;
}


header {
  height: 64px;
  /*position: absolute;*/
  /*z-index: 1;*/
  width: 100%;
  background-color: rgba(3, 102, 53, 0.8);
}

.header-logo {
  float: left;
  padding-left: 20px;
  color: white;
  font-size: 22px;
  line-height: 64px;
}

.header-logo a{
  color: white;
  font-size: 22px;
}

.header-menus {
  float: right;
  padding-right: 20px;
}

.header-menus li {
  float: left;
  line-height: 64px;
  font-size: 13px;
  color: white;
  padding-left: 15px;
}

.header-menus a {
  float: left;
  font-size: 13px;
  color: white;
}

.header-menus .fa {
  padding-right: 5px;
}

.header-menus input[type="submit"] {
  padding: 0 20px;
  float: left;
  line-height: 64px;
  color: white;
  margin: 0;
  font-size: 13px;
}


body {
   min-height: 100vh;
}

.home-container {
  /*margin-top: calc(40% - 100px);*/
  /*margin-top: %;*/
  padding: 8vh 0;
}

.home-center-item {
  margin: 0 auto;
}

.menu-board {
  background-color: rgba(30, 57, 50, 1);
  padding: 5% 0;
  position: relative;
  color: white;
}

.star-w{
  color: rgb(150, 150, 150);
}

.home-menu-lists li:not(:nth-child(1))
{
  margin-top: 1vh;
}

.home-menu-list{
  
}

.menu-font{
  font-family: 'Noto Sans JP',sans-serif;
}

.home-menu-name{
  font-weight: bold;
  font-size: 1.3em;
}

.home-menu-sub{
  font-size: 0.8em;
}

@media screen and (max-width: 480px) {
.home-menu-list{
  
}

.home-menu-name{
  font-weight: normal;
  font-size: 12px;
}

.home-menu-sub{
  font-size: 8px;
}
}


.fav-button {
  background-color: rgba(0,0,0, 0);
  border: none;
}

.star-y {
  color: yellow;
}




.pagination {
    margin: 20px auto 0;
    width: 50%;
    display: flex;
    justify-content: center;
}

.pagination .page-link {
  background-color: rgba(3, 102, 53, 0.8);
  border-width: 2px;
  color: black;
  font-weight: bold;
}

.button-on {
  background-color: rgba(4, 130, 65, 1);
  color: black;
}

.button-off {
  background-color: rgba(255, 255, 255, 0.2);
  color: gray;
}

.button-right {
  border-radius: 0px 5px 5px 0px;
}

.button-left {
  border-radius: 5px 0px 0px 5px;
}

.toggle-button {
  /*margin-left: 500px;*/
  margin-top: 100px;
  margin-bottom: 20px;
}

.mt-auto {
  margin-top: 20px;
}

.home-star {
  position: absolute;
  left: 35px;
  top: calc(50% - 13px);
}
